<div class="container">
    <h1 class="text-center">Hello from home component</h1>

    <h3 class="text-danger text-center">Hello {{email}}</h3>
    <div class="d-flex justify-content-center align-items-center">
        <form class="w-25" action="">
            <div class="mb-3">
                <label for="exampleInputName1" class="form-label">Name</label>
                <input [(ngModel)]="name" [title]="'This is ' + name" type="text" class="form-control"
                    id="exampleInputName1" aria-describedby="nameHelp" name="name" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input [(ngModel)]="email" [title]="'This is ' + email" type="email" class="form-control"
                    id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" [(ngModel)]="password" name="password" class="form-control"
                    id="exampleInputPassword1" required>
            </div>
            <div class="mb-3">
                <label for="marks" class="form-label">Marks</label>
                <input type="number" [(ngModel)]="marks" name="marks" class="form-control" min="0" max="15" id="marks"
                    value="{{marks}}" required>
                <!-- <div *ngIf="number > 10 || number < 0" class="form-text">Điểm không hợp lệ</div>
                <div *ngIf="number >= 0 && number <=10" class="form-text">Điểm hợp lệ</div> -->

                <div *ngIf="marks >= 0 && marks <= 10 && marks != null then accept; else ignore"></div>
                <ng-template #ignore>
                    <div class="form-text">Điểm không hợp lệ</div>
                </ng-template>
                <ng-template #accept>
                    <div class="form-text">Điểm hợp lệ</div>
                </ng-template>
            </div>
            <div class="mb-3">
                <label class="form-label me-4">Country </label><br>
                <p-dropdown class="custom-dropdown" [options]="countries" [(ngModel)]="selectedCountry"
                    optionLabel="name" [filter]="true" filterBy="name" (onChange)="changeCity($event)"
                    [showClear]="true" placeholder="Select a Country" name="countries">
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-1" *ngIf="selectedCountry">
                            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + selectedCountry.code.toLowerCase()" style="width: 8px" />
                            <div>{{ selectedCountry.name }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + country.code.toLowerCase()" style="width: 8px" />
                            <div>{{ country.name }}</div>
                        </div>
                    </ng-template>


                </p-dropdown>


            </div>
            <div class="mb-3">
                <label class="form-label me-4">City </label>
                <span class="p-float-label">
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City"
                        optionLabel="name" name="cities" inputId="float-label"></p-dropdown>
                </span>
            </div>

            <div class="mb-3">
                <label for="fee" class="form-label">Fee</label>
                <input type="number" [(ngModel)]="fee" name="fee" class="form-control" min="0" max="1000000" id="fee"
                    value="{{fee}}" required>
                <!-- <div *ngIf="number > 10 || number < 0" class="form-text">Điểm không hợp lệ</div>
                            <div *ngIf="number >= 0 && number <=10" class="form-text">Điểm hợp lệ</div> -->

                <div *ngIf="fee >= 0 && fee <= 1000000 && fee != null then acceptFee; else ignoreFee"></div>
                <ng-template #ignoreFee>
                    <div class="form-text">Vui lòng nhập phí từ 0 đến 1000000</div>
                </ng-template>
                <ng-template #acceptFee>
                    <div class="form-text">Phí hợp lệ</div>
                </ng-template>
            </div>
            <button type="submit" class="btn btn-primary me-2" (click)="add()">Add</button>
            <button type="button" class="btn btn-secondary" (click)="reset()">Reset</button>
        </form>
        <hr>

    </div>
    <h3>Danh sách tên sinh viên </h3>
    <ul *ngFor="let student of students; let i = index">
        <li>{{i + 1}} - {{student.name}}</li>
    </ul>
    <hr>

    <div class="card">
        <h3 class="text-center text-info p-3">Danh sách sinh viên cập nhật vào lúc: {{ currentDate |
            date:'dd/MM/yy HH:mm' }} </h3>
        <p-table [value]="students" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name" style="width:10%">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="email" style="width:10%">Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="password" style="width:10%">Password <p-sortIcon field="password"></p-sortIcon>
                    </th>
                    <th pSortableColumn="country" style="width:10%">Country <p-sortIcon field="country"></p-sortIcon>
                    </th>
                    <th pSortableColumn="city" style="width:10%">City<p-sortIcon field="city"></p-sortIcon></th>
                    <th pSortableColumn="fee" style="width:5%">Fee <p-sortIcon field="fee"></p-sortIcon></th>
                    <th style="width:5%">Product status</th>
                    <th pSortableColumn="marks" style="width:5%">Marks <p-sortIcon field="marks"></p-sortIcon></th>

                    <th style="width:5%">Result</th>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="code" style="width:20%">Code <p-sortIcon field="code"></p-sortIcon></th>
                    <th pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="category" style="width:20%">Category <p-sortIcon field="category"></p-sortIcon>
                    </th>
                    <th pSortableColumn="quantity" style="width:20%">Quantity <p-sortIcon field="quantity"></p-sortIcon>
                    </th>
                    <th pSortableColumn="price" style="width:20%">Price <p-sortIcon field="price"></p-sortIcon></th>
                </tr>
            </ng-template> -->
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{item.name | uppercase}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.password}}</td>
                    <td>{{item.country | uppercase}}</td>
                    <td>{{item.city | lowercase}}</td>
                    <td>{{item.fee | currency : "VND"}}</td>
                    <td [ngClass]="{'text-warning' : item.fee < 125000, 'text-info' : item.fee >= 125000}">{{item.fee |
                        sale | uppercase}}</td>
                    <td [ngClass]="{'text-danger' : item.marks < 5}">{{item.marks | number}}</td>
                    <td [ngClass]="{'text-danger' : item.marks < 5}">{{item.marks >= 5 ? 'Đạt' : 'Không đạt'
                        |
                        uppercase}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="card p-4">
        <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
            [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
        <div class="d-flex justify-content-center gap-2">
            <button type="button" pButton pRipple (click)="showSuccess('Show success')" label="Success"
                class="p-button-success"></button>
            <button type="button" pButton pRipple (click)="showInfo('Show info')" label="Info"
                class="p-button-info"></button>
            <button type="button" pButton pRipple (click)="showWarn('Show warning')" label="Warn"
                class="p-button-warning"></button>
            <button type="button" pButton pRipple (click)="showError('Show error')" label="Error"
                class="p-button-danger"></button>
        </div>

    </div>
</div>